.img {
  display: flex;
  justify-content: space-evenly;
  height: 60vh; 
  align-items: center;
  text-align: center;
}

img{
  width: auto;
  height: 350px;
}

.wow {
  display: none;
}
body {
  background-color:blue;
  color: wheat;
  text-align: center;
  padding: 150px 0px;
}